<footer class="fixed-bottom" role="contentinfo">
  <div class="container mt-0 text-center">
    <a href="{{ '/assets/pdf/cv.pdf' | relative_url }}">CV</a>
    &nbsp;|&nbsp;
    <a href="mailto:remygue@gmail.com">Mail</a>
    &nbsp;|&nbsp;
    <a href="https://www.researchgate.net/profile/Remy-Guichardaz" target="_blank" rel="noopener noreferrer">ResearchGate</a>
    &nbsp;|&nbsp;
    <a href="https://orcid.org/0000-0000-0000-0000" target="_blank" rel="noopener noreferrer">ORCID</a>
    &nbsp;|&nbsp;
    <a href="https://scholar.google.com/citations?user=TON_ID" target="_blank" rel="noopener noreferrer">Google Scholar</a>
  </div>
</footer>
