<footer class="fixed-bottom" role="contentinfo">
  <div class="container mt-0 text-center">

    <a href="{{ '/assets/pdf/CV_Guichardaz (1).pdf' | relative_url }}"
       style="font-size:1.1rem; font-weight:400;"
       title="Curriculum Vitae">
      <i class="fa-solid fa-file-lines" style="font-size:1.35rem;"></i>
      CV
    </a>

    &nbsp;|&nbsp;

<a href="mailto:rguichardaz@unistra.fr"
   style="font-size:1.1rem; font-weight:400;"
   title="Email">
  <i class="fa-solid fa-envelope"></i>
  Mail
</a>

    &nbsp;|&nbsp;

    <a href="https://www.researchgate.net/profile/Remy-Guichardaz"
       target="_blank"
       rel="noopener noreferrer"
       style="font-size:1.1rem; font-weight:400;"
       title="ResearchGate">
      <i class="ai ai-researchgate" style="font-size:1.35rem;"></i>
      ResearchGate
    </a>

    &nbsp;|&nbsp;

    <a href="https://orcid.org/0009-0003-0297-5565"
       target="_blank"
       rel="noopener noreferrer"
       style="font-size:1.1rem; font-weight:400;"
       title="ORCID">
      <i class="ai ai-orcid" style="font-size:1.35rem;"></i>
      ORCID
    </a>

    &nbsp;|&nbsp;

    <a href="https://scholar.google.com/citations?user=TON-ID"
       target="_blank"
       rel="noopener noreferrer"
       style="font-size:1.1rem; font-weight:400;"
       title="Google Scholar">
      <i class="ai ai-google-scholar" style="font-size:1.35rem;"></i>
      Google Scholar
    </a>

  &nbsp;|&nbsp;

  </div>
</footer>
